<ds-navbar></ds-navbar>
<div class="panel panel-primary">
    <div class="panel-heading">Supply</div>
    <div class="panel-body">
        <form [formGroup]="supplyForm" class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-4">
                    <label>Resource Name</label>
                    <input formControlName="ResourceName" type="text" class="form-control input-sm" placeholder="Resource Name" />
                </div>
                <div class="col-sm-4">
                    <label>Sourcing Type</label>
                    <input type="text" class="form-control input-sm" placeholder="Sourcing Type" />
                </div>
                <div class="col-sm-4">
                    <label>Sourcing Stage</label>
                    <input type="text" class="form-control input-sm" placeholder="Sourcing Stage" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label>Profile Sourced</label>
                    <input type="text" class="form-control input-sm" placeholder="Profile Sourced" />
                </div>
                <div class="col-sm-4">
                    <label>Profile Shortlisted</label>
                    <input type="text" class="form-control input-sm" placeholder="Profile Shortlisted" />
                </div>
                <div class="col-sm-4">
                    <label>Profile Rejected</label>
                    <input type="text" class="form-control input-sm" placeholder="Profile Rejected" />
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success btn-sm">Create</button>
        <button class="btn btn-warning btn-sm" (click)="supplyForm.reset();" >Reset</button>
    </div>
</div>