<ds-navbar></ds-navbar>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">Supply for {{demandId}}
        <button class="btn btn-primary btn-sm pull-right" [routerLink]="['/supply/create/',demandId]"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead class="success">
                <th>Personnel No</th>
                <th>Name</th>
                <th>Enterprise ID</th>
                <th>Level</th>
                <th>Location</th>
                <th>Sourcing Type</th>
                <th>Sourcing Stage</th>
            </thead>
            <tbody>
                <tr *ngFor="let supply of supplies">
                    <td>{{supply.PersonnelNo}}</td>
                    <td>{{supply.ResourceName}}</td>
                    <td>{{supply.EnterpriseID}}</td>
                    <td>{{supply.Level}}</td>
                    <td>{{supply.Location}}</td>
                    <td>{{supply.SourcingType}}</td>
                    <td>{{supply.SourcingStage}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>