<ds-navbar></ds-navbar>
<div class="panel panel-primary">
    <div class="panel-heading">Demand</div>
    <div class="panel-body">
        <form class="form-horizontal">
            
            <div class="form-group">
                <div class="col-sm-4">
                    <label>Project Name</label>
                    <input type="text" class="form-control input-sm" placeholder="Project Name" />
                </div>
                <div class="col-sm-4">
                    <label>Location</label>
                    <input type="text" class="form-control input-sm" placeholder="Location" />
                </div>
                <div class="col-sm-4">
                    <label>Chargeable</label>
                    <input type="text" class="form-control input-sm" placeholder="Chargeable" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label>Career Level</label>
                    <input type="text" class="form-control input-sm" placeholder="Career Level" />
                </div>
                <div class="col-sm-4">
                    <label>Primary Skill</label>
                    <input type="text" class="form-control input-sm" placeholder="Primary Skill" />
                </div>
                <div class="col-sm-4">
                    <label>Demand Status</label>
                    <input type="text" class="form-control input-sm" placeholder="Demand Status" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <label>Reason for Replacement</label>
                    <input type="text" class="form-control input-sm" placeholder="Reason for Replacement" />
                </div>
                <div class="col-sm-4">
                    <label>Demand Created Date</label>
                    <input type="text" class="form-control input-sm" placeholder="Demand Created Date" />
                </div>
                <div class="col-sm-4">
                    <label>Demand Closed Date</label>
                    <input type="text" class="form-control input-sm" placeholder="Demand Closed Date" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Resource Locked</label>
                    <input type="text" class="form-control input-sm" placeholder="Resource Locked" />
                </div>
                <div class="col-sm-4">
                    <label>Billing Rate</label>
                    <input type="text" class="form-control input-sm" placeholder="Billing Rate" />
                </div>
                <div class="col-sm-4">
                    <label>Team/Application Name</label>
                    <input type="text" class="form-control input-sm" placeholder="Team/Application Name" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>RRD No</label>
                    <input type="text" class="form-control input-sm" placeholder="RRD No" />
                </div>
                <div class="col-sm-4">
                    <label>Sold</label>
                    <input type="text" class="form-control input-sm" placeholder="Sold" />
                </div>
                <div class="col-sm-4">
                    <label>Flex on Career Level</label>
                    <input type="text" class="form-control input-sm" placeholder="Flex on Career Level" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Additional Skill</label>
                    <input type="text" class="form-control input-sm" placeholder="Additional Skill" />
                </div>
                <div class="col-sm-4">
                    <label>Priority</label>
                    <input type="text" class="form-control input-sm" placeholder="Priority" />
                </div>
                <div class="col-sm-4">
                    <label>Replacement For</label>
                    <input type="text" class="form-control input-sm" placeholder="Replacement For" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Role Start Date</label>
                    <input type="text" class="form-control input-sm" placeholder="Role Start Date" />
                </div>
                <div class="col-sm-4">
                    <label>Client Interview Reqd</label>
                    <input type="text" class="form-control input-sm" placeholder="Client Interview Reqd" />
                </div>
                <div class="col-sm-4">
                    <label>Comments</label>
                    <input type="text" class="form-control input-sm" placeholder="Comments" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Bill Code</label>
                    <input type="text" class="form-control input-sm" placeholder="Bill Code" />
                </div>
                <div class="col-sm-4">
                    <label>Delivery Centre</label>
                    <input type="text" class="form-control input-sm" placeholder="Delivery Centre" />
                </div>
                <div class="col-sm-4">
                    <label>MYs ID</label>
                    <input type="text" class="form-control input-sm" placeholder="MYs ID" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Ready To Lock</label>
                    <input type="text" class="form-control input-sm" placeholder="Ready To Lock" />
                </div>
                <div class="col-sm-4">
                    <label>Role Title</label>
                    <input type="text" class="form-control input-sm" placeholder="Role Title" />
                </div>
                <div class="col-sm-4">
                    <label>Job Description</label>
                    <input type="text" class="form-control input-sm" placeholder="Job Description" />
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-4">
                    <label>Demand Type</label>
                    <input type="text" class="form-control input-sm" placeholder="Demand Type" />
                </div>
                <div class="col-sm-4">
                    <label>Client Manager</label>
                    <input type="text" class="form-control input-sm" placeholder="Client Manager" />
                </div>
                <div class="col-sm-4">
                    <label>Role End Date</label>
                    <input type="text" class="form-control input-sm" placeholder="Role End Date" />
                </div>
            </div>
             <div class="form-group">
                <div class="col-sm-4">
                    <label>Profiles Shared With Client</label>
                    <input type="text" class="form-control input-sm" placeholder="Profiles Shared With Client" />
                </div>
                <div class="col-sm-4">
                    <label>Role ID</label>
                    <input type="text" class="form-control input-sm" placeholder="Role ID" />
                </div>
             </div>
        </form>
    </div>
</div>